In [151]:
import pandas as pd
import numpy as np

In [293]:
df = pd.read_csv(r'C:\Users\Yunseok Choi\Google 드라이브\기술경영대학원\STEPI\Government R&D\kis-ntis.csv')
df.fillna(0, inplace = True)
df.drop(3999, axis = 0, inplace = True)

In [311]:
set(df['ntis_past'])

{0.0, 1.0}

In [309]:
set(df['ntis_present'])

{0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0}

In [153]:
qlist = ['Q11_1','Q11_2','Q11_3','Q11_4','Q11_5','Q11_6']

In [306]:
for item in qlist:
    print(set(df[item]))

{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}
{0, 1}

#### 기초 통계량: 혁신 활동 변수

In [155]:
for item in qlist:
    print(item, np.mean(df[item].values))

Q11_1 0.21505376344086022
Q11_2 0.13553388347086773
Q11_3 0.002250562640660165
Q11_4 0.229057264316079
Q11_5 0.010752688172043012
Q11_6 0.044761190297574395

In [156]:
for item in qlist:
    print(item, np.std(df[item].values))

Q11_1 0.4108596381622107
Q11_2 0.34229292996229554
Q11_3 0.047386681762501895
Q11_4 0.4202261700324159
Q11_5 0.10313616179167141
Q11_6 0.2067791724055368

In [157]:
total_1 = df[(df['Q11_1'] == 1) | (df['Q11_2'] == 1) |(df['Q11_3'] == 1) | (df['Q11_4'] == 1) | (df['Q11_5'] == 1) | (df['Q11_6'] == 1)].index
list_one=[]
for i in range(0,3999,1):
    if i in total_1 :s
        list_one.append(1)
    else:
        list_one.append(0)
print(np.mean(list_one), np.std(list_one))

0.2663165791447862 0.44203173960407527

#### 종합 혁신 활동 비율 분석 (과거시점)

In [258]:
past_non = df[df['ntis_past']== 0].shape[0]
past_part = df[df['ntis_past']!= 0].shape[0]
print(past_non, past_part)

3776 223

In [256]:
for item in qlist:
    participate = df[(df[item]==1) & (df['ntis_past']!=0)].shape[0]
    nonparticipate = df[(df[item]==1) & (df['ntis_past']==0)].shape[0]
    print(round((nonparticipate/past_non)*100,1), round((participate/past_part)*100,1))

20.5 33.7
12.5 26.7
0.2 0.3
21.0 46.7
0.7 6.0
4.5 4.0

In [277]:
innodf = df[((df['Q11_1'] == 1) | (df['Q11_2'] == 1) |(df['Q11_3'] == 1) | (df['Q11_4'] == 1) | (df['Q11_5'] == 1) | (df['Q11_6'] == 1))]
print(innodf[innodf['ntis_past'] == 0].shape[0]/past_non)
print(innodf[innodf['ntis_past'] != 0].shape[0]/past_part)

0.243114406779661
0.6591928251121076

#### 종합 혁신 활동 비율 분석 (현재시점)

In [278]:
present_non = df[df['ntis_present']<1].shape[0]
present_part = df[df['ntis_present']!= 0].shape[0]
print(present_non, present_part)

3699 300

In [279]:
for item in qlist:
    participate = df[(df[item]==1) & (df['ntis_present'] != 0)].shape[0]
    nonparticipate = df[(df[item]==1) & (df['ntis_present'] == 0)].shape[0]
    print(round((nonparticipate/present_non)*100,1), round((participate/present_part)*100,1))

19.8 42.3
11.8 35.7
0.2 0.3
19.9 60.3
0.6 7.0
4.4 5.3

In [223]:
innodf = df[((df['Q11_1'] == 1) | (df['Q11_2'] == 1) |(df['Q11_3'] == 1) | (df['Q11_4'] == 1) | (df['Q11_5'] == 1) | (df['Q11_6'] == 1))]
print(round((innodf[innodf['ntis_present'] == 0].shape[0]/past_non)*100,2))
print(round((innodf[innodf['ntis_present'] != 0].shape[0]/past_part)*100,2))

23.68
63.0

# 외부협력

In [404]:
df = pd.read_csv(r'C:\Users\Yunseok Choi\Google 드라이브\기술경영대학원\STEPI\Government R&D\kis-ntis.csv')
df.fillna(-1, inplace = True)
df.drop(3999, axis = 0, inplace = True)

C:\Users\Yunseok Choi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (117,127,333) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [405]:
df = df[(df['Q16_1'] > -1) & (df['Q16_2'] > -1) & (df['Q16_3'] > -1)]
df.reset_index(inplace = True)

In [412]:
qlist = ['Q16_1','Q16_2','Q16_3']

In [413]:
set(df['ntis_past'])

{-1.0, 0.0, 1.0}

In [414]:
set(df['ntis_present'])

{-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0}

In [415]:
for item in qlist:
    print(set(df[item]))

{0.0, 1.0}
{0.0, 1.0}
{0.0, 1.0}

#### 기초 통계량: 외부협력 및 혁신 협력 변수

In [416]:
#평균값
for item in qlist:
    print(item, np.mean(df[item].values))

Q16_1 0.056338028169014086
Q16_2 0.01596244131455399
Q16_3 0.04037558685446009

In [418]:
#표준편차
for item in qlist:
    print(item, np.std(df_filtered[item].values))

Q16_1 0.2305733175175338
Q16_2 0.1253301311809471
Q16_3 0.1968385095468314

In [419]:
total = df_filtered[(df_filtered['Q16_1'] == 1) | (df_filtered['Q16_2'] == 1) | (df_filtered['Q16_3'] == 1) ].index
list_one = []
for i in range(0,1065,1):
    if i in total :
        list_one.append(1)
    else:
        list_one.append(0)
print(np.mean(list_one), np.std(list_one))

0.09483568075117371 0.2929878400337379

#### 종합 혁신 활동 비율 분석 (과거시점)

In [420]:
past_non = df_filtered[df_filtered['ntis_past'] < 1].shape[0]
past_part = df_filtered[df_filtered['ntis_past'] > 0].shape[0]
print(past_non, past_part)

918 147

In [421]:
set(df_filtered['ntis_past'].values)

{-1.0, 0.0, 1.0}

In [423]:
for item in qlist:
    participate = df_filtered[(df_filtered[item]==1) & (df_filtered['ntis_past'] > 0)].shape[0]
    nonparticipate = df_filtered[(df_filtered[item]==1) & (df_filtered['ntis_past'] < 1)].shape[0]
    print(round((nonparticipate/past_non)*100,1), round((participate/past_part)*100,1))

4.1 15.0
1.1 4.8
3.8 5.4

In [424]:
innodf = df_filtered[((df_filtered['Q16_1'] == 1) | (df_filtered['Q16_2'] == 1) |(df_filtered['Q16_3'] == 1))]
print(innodf[innodf['ntis_past'] < 1].shape[0]/past_non)
print(innodf[innodf['ntis_past'] > 0].shape[0]/past_part)

0.08061002178649238
0.1836734693877551

#### 종합 혁신 활동 비율 분석 (현재시점)

In [425]:
present_non = df_filtered[df_filtered['ntis_present'] < 1].shape[0]
present_part = df_filtered[df_filtered['ntis_present'] > 0].shape[0]
print(present_non, present_part)

876 189

In [426]:
for item in qlist:
    participate = df_filtered[(df_filtered[item]==1) & (df_filtered['ntis_present'] > 0)].shape[0]
    nonparticipate = df_filtered[(df_filtered[item]==1) & (df_filtered['ntis_present'] < 1)].shape[0]
    print(round((nonparticipate/present_non)*100,1), round((participate/present_part)*100,1))

3.9 13.8
1.1 3.7
3.9 4.8

In [427]:
innodf = df_filtered[((df_filtered['Q16_1'] == 1) | (df_filtered['Q16_2'] == 1) |(df_filtered['Q16_3'] == 1))]
print(innodf[innodf['ntis_present'] < 1].shape[0]/present_non)
print(innodf[innodf['ntis_present'] > 0].shape[0]/present_part)

0.07876712328767123
0.1693121693121693

# 추가분석

#### 혁신협력: 기초 통계량, 과거, 현재

In [1]:
import pandas as pd
import numpy as np

In [2]:
def analysis1(df):
    total_count = df.shape[0]
    average = []
    stats_data = []
    list_one=[]
    qlist = ['Q11_1','Q11_2','Q11_3','Q11_4','Q11_5','Q11_6']
    for item in qlist:
        stats_data.append([item, total_count, round(np.mean(df[item].values),4), round(np.std(df[item].values),4)])
        average.append(np.mean(df[item].values))
    total_1 = df[(df['Q11_1'] == 1) | (df['Q11_2'] == 1) |(df['Q11_3'] == 1) | (df['Q11_4'] == 1) | (df['Q11_5'] == 1) | (df['Q11_6'] == 1)].index
    for i in range(0,total_count,1):
        if i in total_1 :
            list_one.append(1)
        else:
            list_one.append(0)
    stats_data.append(['Total',total_count,round(np.mean(list_one),4), round(np.std(list_one),4)])
    average.append(round(np.mean(list_one),4))
    
    
    
    past_non = df[df['ntis_past'] < 1].shape[0]
    past_part = df[df['ntis_past'] > 0].shape[0]
    past_data = []
    i = 0
    for item in qlist:
        participate = df[(df[item]==1) & (df['ntis_past'] > 0)].shape[0]
        nonparticipate = df[(df[item]==1) & (df['ntis_past'] < 1)].shape[0]
        a = (nonparticipate/past_non)
        b = (participate/past_part)
        c = average[i]
        past_data.append([item, round(a*100,1), round(b*100,1), round(c*100,1),
                          round((b-a)*100,1), round((b/c),1), round(((b-a)/c),3)]) 
        i +=1
    tempdf = df[((df['Q11_1'] == 1) | (df['Q11_2'] == 1) |(df['Q11_3'] == 1) | (df['Q11_4'] == 1) | (df['Q11_5'] == 1) | (df['Q11_6'] == 1))]
    a = (tempdf[tempdf['ntis_past'] < 1].shape[0]/past_non)
    b = (tempdf[tempdf['ntis_past'] > 0].shape[0]/past_part)
    c = average[-1]
    past_data.append(['Total', round(a*100,1), round(b*100,1), round(c*100,1),
                      round((b-a)*100,1), round((b/c),1), round(((b-a)/c),3)]) 
    past_data.append(['obs', past_non, past_part, total_count,'-','-','-'])
    
    
    present_non = df[df['ntis_present']<1].shape[0]
    present_part = df[df['ntis_present'] > 0].shape[0]
    present_data = []
    i = 0
    for item in qlist:
        participate = df[(df[item]==1) & (df['ntis_present'] > 0)].shape[0]
        nonparticipate = df[(df[item]==1) & (df['ntis_present'] < 1)].shape[0]
        a = (nonparticipate/present_non)
        b = (participate/present_part)
        c = average[i]
        present_data.append([item, round(a*100,1), round(b*100,1), round(c*100,1),
                          round((b-a)*100,1), round((b/c),1), round(((b-a)/c),3)]) 
        i +=1
    tempdf = df[((df['Q11_1'] == 1) | (df['Q11_2'] == 1) |(df['Q11_3'] == 1) | (df['Q11_4'] == 1) | (df['Q11_5'] == 1) | (df['Q11_6'] == 1))]
    a = (tempdf[tempdf['ntis_present'] < 1].shape[0]/present_non)
    b = (tempdf[tempdf['ntis_present'] > 0].shape[0]/present_part)
    c = average[-1]
    present_data.append(['Total', round(a*100,1), round(b*100,1), round(c*100,1),
                      round((b-a)*100,1), round((b/c),1), round(((b-a)/c),3)]) 
    present_data.append(['obs', present_non, present_part, total_count,'-','-','-'])
    return pd.DataFrame(stats_data), pd.DataFrame(past_data), pd.DataFrame(present_data)

#### 혁신협력: 기초 통계량, 과거, 현재

In [23]:
def analysis2(df):
    df = df[(df['Q16_1'] > -1) & (df['Q16_2'] > -1) & (df['Q16_3'] > -1)]
    df.reset_index(inplace = True)
    total_count = df.shape[0]
    qlist = ['Q16_1','Q16_2','Q16_3']
    average = []
    stats_data = []
    for item in qlist:
        stats_data.append([item, total_count, round(np.mean(df[item].values),4), round(np.std(df[item].values),4)])
        average.append(np.mean(df[item].values))
    total = df[(df['Q16_1'] == 1) | (df['Q16_2'] == 1) | (df['Q16_3'] == 1) ].index
    list_one = []
    for i in range(0,1065,1):
        if i in total :
            list_one.append(1)
        else:
            list_one.append(0)
    stats_data.append(['Total', total_count, round(np.mean(list_one),4), round(np.std(list_one),4)])
    average.append(np.mean(list_one))

    past_non = df[df['ntis_past'] < 1].shape[0]
    past_part = df[df['ntis_past'] > 0].shape[0]
    past_data = []
    i = 0
    for item in qlist:
        participate = df[(df[item]==1) & (df['ntis_past'] > 0)].shape[0]
        nonparticipate = df[(df[item]==1) & (df['ntis_past'] < 1)].shape[0]
        a = (nonparticipate/past_non)
        b = (participate/past_part)
        c = average[i]
        past_data.append([item, round(a*100,1), round(b*100,1), round(c*100,1),
                          round((b-a)*100,1), round((b/c),1), round(((b-a)/c),3)]) 
        i +=1
    tempdf = df[(df['Q16_1'] == 1) | (df['Q16_2'] == 1) | (df['Q16_3'] == 1) ]
    a = (tempdf[tempdf['ntis_past'] < 1].shape[0]/past_non)
    b = (tempdf[tempdf['ntis_past'] > 0].shape[0]/past_part)
    c = average[-1]
    past_data.append(['Total', round(a*100,1), round(b*100,1), round(c*100,1),
                      round((b-a)*100,1), round((b/c),1), round(((b-a)/c),3)]) 
    past_data.append(['obs', past_non, past_part, total_count,'-','-','-'])


    present_non = df[df['ntis_present']<1].shape[0]
    present_part = df[df['ntis_present'] > 0].shape[0]
    present_data = []
    i = 0
    for item in qlist:
        participate = df[(df[item]==1) & (df['ntis_present'] > 0)].shape[0]
        nonparticipate = df[(df[item]==1) & (df['ntis_present'] < 1)].shape[0]
        a = (nonparticipate/present_non)
        b = (participate/present_part)
        c = average[i]
        present_data.append([item, round(a*100,1), round(b*100,1), round(c*100,1),
                          round((b-a)*100,1), round((b/c),1), round(((b-a)/c),3)]) 
        i +=1
    tempdf = df[(df['Q16_1'] == 1) | (df['Q16_2'] == 1) | (df['Q16_3'] == 1) ]
    a = (tempdf[tempdf['ntis_present'] < 1].shape[0]/present_non)
    b = (tempdf[tempdf['ntis_present'] > 0].shape[0]/present_part)
    c = average[-1]
    present_data.append(['Total', round(a*100,1), round(b*100,1), round(c*100,1),
                      round((b-a)*100,1), round((b/c),1), round(((b-a)/c),3)]) 
    present_data.append(['obs', present_non, present_part, total_count,'-','-','-'])
    return pd.DataFrame(stats_data), pd.DataFrame(past_data), pd.DataFrame(present_data)

In [27]:
df = pd.read_csv(r'C:\Users\Yunseok Choi\Google 드라이브\기술경영대학원\STEPI\Government R&D\kis-ntis.csv')
df.fillna(-1, inplace = True)
df.drop(3999, axis = 0, inplace = True)

In [28]:
df = df[(df['sector'] != 4) & (df['sector'] != 5) & (df['sector'] != 7)]

In [29]:
for item in ['Q11_1','Q11_2','Q11_3','Q11_4','Q11_5','Q11_6']:
    print(df[df[item]==1].shape)
print(' ')
for item in ['Q16_1','Q16_2','Q16_3']:
    print(df[df[item]==1].shape)

(498, 361)
(215, 361)
(5, 361)
(450, 361)
(11, 361)
(137, 361)

(25, 361)
(7, 361)
(19, 361)

In [30]:
a, b, c, = analysis1(df)
a.to_excel(r'C:\Users\Yunseok Choi\Google 드라이브\기술경영대학원\STEPI\Government R&D\11stats.xlsx')
b.to_excel(r'C:\Users\Yunseok Choi\Google 드라이브\기술경영대학원\STEPI\Government R&D\12past.xlsx')
c.to_excel(r'C:\Users\Yunseok Choi\Google 드라이브\기술경영대학원\STEPI\Government R&D\13present.xlsx')

In [31]:
d, e, f, = analysis2(df)
d.to_excel(r'C:\Users\Yunseok Choi\Google 드라이브\기술경영대학원\STEPI\Government R&D\21stats.xlsx')
e.to_excel(r'C:\Users\Yunseok Choi\Google 드라이브\기술경영대학원\STEPI\Government R&D\22past.xlsx')
f.to_excel(r'C:\Users\Yunseok Choi\Google 드라이브\기술경영대학원\STEPI\Government R&D\23present.xlsx')

# 법정유형

In [494]:
df = pd.read_csv(r'C:\Users\Yunseok Choi\Google 드라이브\기술경영대학원\STEPI\Government R&D\kis-ntis.csv')
df.fillna(-1, inplace = True)
df.drop(3999, axis = 0, inplace = True)

C:\Users\Yunseok Choi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (117,127,333) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [495]:
qlist = ['Q36_02']

In [496]:
multiple = [1,2,3,4]

In [500]:
set(df['Q36_02'])

{1, 2, 3, 4}

In [501]:
set(df['ntis_past'])

{-1.0, 0.0, 1.0}

In [502]:
set(df['ntis_present'])

{-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0}

In [503]:
for item in qlist:
    print(set(df[item]))

{1, 2, 3, 4}

In [507]:
sme = df[(df["Q36_02"]==1) | (df["Q36_02"]==2)].index
incumbent = df[(df["Q36_02"]== 3) | (df["Q36_02"]==4)].index
df['SME'] = ''
df['Incumbent'] = ''
for i in range(0,3999,1):
    if i in sme:
        df['SME'][i] = 1
    else:
        df['SME'][i] = 0
    if i in incumbent:
        df['Incumbent'][i] = 1
    else:
        df['Incumbent'][i] = 0

C:\Users\YUNSEO~1\AppData\Local\Temp/ipykernel_4884/2647663716.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SME'][i] = 1
C:\Users\YUNSEO~1\AppData\Local\Temp/ipykernel_4884/2647663716.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Incumbent'][i] = 0
C:\Users\YUNSEO~1\AppData\Local\Temp/ipykernel_4884/2647663716.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SME'][i] = 0
C:\Users\YUNSEO~1\AppData\Local\Temp/ipykernel_4884/2647663716.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Incumbent'][i] = 1

#### 기초 통계량: 법정유형

In [508]:
#평균값
print(np.mean(df['SME'].values), np.mean(df['Incumbent'].values))

0.8182045511377845 0.18179544886221555

In [509]:
print(np.std(df['SME'].values), np.std(df['Incumbent'].values))

0.3856758530621127 0.3856758530621127

#### 종합 혁신 활동 비율 분석 (과거시점)

In [513]:
set(df['ntis_past'].values)

{-1.0, 0.0, 1.0}

In [511]:
past_non = df[df['ntis_past'] < 1].shape[0]
past_part = df[df['ntis_past'] > 0].shape[0]
print(past_non, past_part)

3776 223

In [514]:
participate = df[(df['SME']==1) & (df_filtered['ntis_past'] > 0)].shape[0]
nonparticipate = df[(df['SME']==1) & (df_filtered['ntis_past'] < 1)].shape[0]
print(round((nonparticipate/past_non)*100,1), round((participate/past_part)*100,1))

17.4 47.5

In [515]:
participate = df[(df['Incumbent']==1) & (df_filtered['ntis_past'] > 0)].shape[0]
nonparticipate = df[(df['Incumbent']==1) & (df_filtered['ntis_past'] < 1)].shape[0]
print(round((nonparticipate/past_non)*100,1), round((participate/past_part)*100,1))

6.9 18.4

#### 종합 혁신 활동 비율 분석 (현재시점)

In [518]:
set(df['ntis_present'].values)

{-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0}

In [520]:
present_non = df[df['ntis_present'] < 1].shape[0]
present_part = df[df['ntis_present'] > 0].shape[0]
print(past_non, past_part)

3699 300

In [521]:
participate = df[(df['SME']==1) & (df_filtered['ntis_present'] > 0)].shape[0]
nonparticipate = df[(df['SME']==1) & (df_filtered['ntis_present'] < 1)].shape[0]
print(round((nonparticipate/present_non)*100,1), round((participate/present_part)*100,1))

17.0 44.7

In [522]:
participate = df[(df['Incumbent']==1) & (df_filtered['ntis_present'] > 0)].shape[0]
nonparticipate = df[(df['Incumbent']==1) & (df_filtered['ntis_present'] < 1)].shape[0]
print(round((nonparticipate/present_non)*100,1), round((participate/present_part)*100,1))

6.7 18.3

# 종사자수

In [549]:
df = pd.read_csv(r'C:\Users\Yunseok Choi\Google 드라이브\기술경영대학원\STEPI\Government R&D\kis-ntis.csv')
df.drop(3999, axis = 0, inplace = True)
df.fillna(-1, inplace = True)

In [551]:
set(df['Q38_01_3'].values)

{10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 110,
 111,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 190,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 232,
 233,
 234,
 235,
 236,
 239,
 240,
 242,
 243,
 245,
 246,
 247,
 249,
 250,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 277,
 278,
 280,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 302,
 304,
 306,
 308,
 314,
 319,
 320,
 322,
 324,
 329,
 330,
 332,
 334,
 335,
 336,
 338,
 340,
 341,
 343,
 344,
 345,
 346,
 350,
 352,
 353,
 356,
 357,
 359,
 360,
 362,
 364,
 368,
 369,
 370,
 373,
 374,
 376,
 377,
 378,
 380,
 381,
 385,
 389,
 390,
 393,
 395,
 397,
 400,
 401,
 408,
 409,
 410,
 411,
 413,
 414,
 415,
 416,
 417,
 420,
 421,
 423,
 424,
 428,
 429,
 430,
 436,
 437,
 440,
 442,
 445,
 446,
 449,
 450,
 452,
 453,
 456,
 458,
 460,
 463,
 464,
 466,
 469,
 471,
 472,
 473,
 474,
 476,
 478,
 479,
 480,
 483,
 484,
 490,
 492,
 495,
 498,
 499,
 500,
 504,
 506,
 510,
 511,
 515,
 520,
 522,
 523,
 527,
 530,
 531,
 540,
 550,
 553,
 560,
 568,
 570,
 579,
 580,
 582,
 586,
 587,
 590,
 593,
 599,
 600,
 603,
 605,
 610,
 612,
 619,
 620,
 628,
 630,
 631,
 638,
 640,
 642,
 643,
 647,
 649,
 650,
 660,
 663,
 665,
 666,
 668,
 670,
 674,
 680,
 682,
 690,
 694,
 698,
 700,
 701,
 705,
 707,
 708,
 711,
 712,
 719,
 720,
 725,
 730,
 736,
 737,
 738,
 744,
 750,
 758,
 760,
 770,
 780,
 785,
 789,
 790,
 791,
 793,
 800,
 820,
 825,
 828,
 829,
 830,
 835,
 840,
 848,
 849,
 850,
 852,
 854,
 860,
 865,
 866,
 870,
 873,
 880,
 890,
 898,
 900,
 908,
 909,
 914,
 918,
 920,
 924,
 940,
 950,
 952,
 961,
 968,
 980,
 1000,
 1018,
 1030,
 1043,
 1062,
 1070,
 1078,
 1085,
 1089,
 1092,
 1100,
 1157,
 1171,
 1180,
 1200,
 1201,
 1210,
 1218,
 1250,
 1265,
 1300,
 1313,
 1338,
 1350,
 1360,
 1380,
 1383,
 1400,
 1435,
 1447,
 1465,
 1470,
 1473,
 1500,
 1509,
 1600,
 1617,
 1620,
 1650,
 1677,
 1700,
 1703,
 1707,
 1742,
 1800,
 1861,
 1900,
 1920,
 1927,
 1970,
 2000,
 2013,
 2080,
 2100,
 2126,
 2144,
 2200,
 2214,
 2224,
 2237,
 2250,
 2265,
 2270,
 2271,
 2283,
 2300,
 2329,
 2373,
 2400,
 2428,
 2442,
 2500,
 2526,
 2547,
 2600,
 2670,
 2682,
 2700,
 2743,
 2787,
 2800,
 2886,
 2920,
 2952,
 2966,
 2977,
 3000,
 3158,
 3200,
 3240,
 3348,
 3447,
 3500,
 3740,
 3750,
 3872,
 4000,
 4120,
 4150,
 4200,
 4211,
 4300,
 4650,
 4770,
 5000,
 5120,
 5560,
 5649,
 6341,
 6496,
 7000,
 7479,
 7984,
 8358,
 9000,
 9173,
 10000,
 11485,
 13000,
 13319,
 22000,
 24600}

In [552]:
set(df['ntis_past'])

{-1.0, 0.0, 1.0}

In [553]:
set(df['ntis_present'])

{-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0}

In [556]:
emp_small = df[(df["Q38_01_3"]<=10)].index
emp_big = df[(df["Q38_01_3"]>10)].index
df['emp_small'] = ''
df['emp_big'] = ''
for i in range(0,3999,1):
    if i in emp_small:
        df['emp_small'][i] = 1
    else:
        df['emp_small'][i] = 0
    if i in emp_big:
        df['emp_big'][i] = 1
    else:
        df['emp_big'][i] = 0

C:\Users\YUNSEO~1\AppData\Local\Temp/ipykernel_4884/831752748.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['emp_small'][i] = 0
C:\Users\YUNSEO~1\AppData\Local\Temp/ipykernel_4884/831752748.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['emp_big'][i] = 1
C:\Users\YUNSEO~1\AppData\Local\Temp/ipykernel_4884/831752748.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['emp_small'][i] = 1
C:\Users\YUNSEO~1\AppData\Local\Temp/ipykernel_4884/831752748.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['emp_big'][i] = 0

#### 기초 통계량: 법정유형

In [557]:
#평균값
print(np.mean(df['emp_small'].values), np.mean(df['emp_big'].values))

0.06126531632908227 0.9387346836709177

In [558]:
print(np.std(df['emp_small'].values), np.std(df['emp_big'].values))

0.23981634086146794 0.23981634086146794

#### 종합 혁신 활동 비율 분석 (과거시점)

In [559]:
set(df['ntis_past'].values)

{-1.0, 0.0, 1.0}

In [560]:
past_non = df[df['ntis_past'] < 1].shape[0]
past_part = df[df['ntis_past'] > 0].shape[0]
print(past_non, past_part)

3776 223

In [561]:
participate = df[(df['emp_small']==1) & (df_filtered['ntis_past'] > 0)].shape[0]
nonparticipate = df[(df['emp_small']==1) & (df_filtered['ntis_past'] < 1)].shape[0]
print(round((nonparticipate/past_non)*100,1), round((participate/past_part)*100,1))

1.1 1.8

In [564]:
participate = df[(df['emp_big']==1) & (df_filtered['ntis_past'] > 0)].shape[0]
nonparticipate = df[(df['emp_big']==1) & (df_filtered['ntis_past'] < 1)].shape[0]
print(round((nonparticipate/past_non)*100,1), round((participate/past_part)*100,1))

23.2 64.1

#### 종합 혁신 활동 비율 분석 (현재시점)

In [565]:
set(df['ntis_present'].values)

{-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0}

In [567]:
present_non = df[df['ntis_present'] < 1].shape[0]
present_part = df[df['ntis_present'] > 0].shape[0]
print(present_non, present_part)

3699 300

In [568]:
participate = df[(df['emp_small']==1) & (df_filtered['ntis_present'] > 0)].shape[0]
nonparticipate = df[(df['emp_small']==1) & (df_filtered['ntis_present'] < 1)].shape[0]
print(round((nonparticipate/present_non)*100,1), round((participate/present_part)*100,1))

1.0 2.3

In [569]:
participate = df[(df['emp_big']==1) & (df_filtered['ntis_present'] > 0)].shape[0]
nonparticipate = df[(df['emp_big']==1) & (df_filtered['ntis_present'] < 1)].shape[0]
print(round((nonparticipate/present_non)*100,1), round((participate/present_part)*100,1))

22.7 60.7

# 매출액

In [549]:
df = pd.read_csv(r'C:\Users\Yunseok Choi\Google 드라이브\기술경영대학원\STEPI\Government R&D\kis-ntis.csv')
df.drop(3999, axis = 0, inplace = True)
df.fillna(-1, inplace = True)

In [570]:
set(df['Q37_3_1'].values)

{106498,
 8196,
 8200,
 114700,
 24590,
 24591,
 8210,
 2973715,
 20,
 32800,
 172071,
 8231,
 122929,
 16440,
 8250,
 163900,
 8253,
 32830,
 98365,
 65600,
 8260,
 32853,
 8280,
 24664,
 95,
 100,
 8300,
 98414,
 385137,
 155762,
 57460,
 16500,
 8310,
 41084,
 24700,
 8319,
 32900,
 237716,
 149,
 150,
 16540,
 8350,
 8360,
 170,
 174,
 180,
 16566,
 8380,
 8385,
 8390,
 200,
 16584,
 24780,
 8400,
 57555,
 8405,
 1695962,
 8410,
 57580,
 16621,
 49393,
 250,
 33024,
 205062,
 270,
 3334422,
 16663,
 8470,
 1450265,
 280,
 24860,
 16670,
 500000,
 65827,
 294,
 8490,
 300,
 8500,
 310,
 33080,
 16699,
 188732,
 8510,
 320,
 321,
 324,
 16710,
 500040,
 74056,
 33100,
 246100,
 33110,
 49500,
 349,
 350,
 16732,
 123232,
 377184,
 8550,
 360,
 8560,
 156023,
 8570,
 16763,
 3154300,
 381,
 380,
 8575,
 8580,
 390,
 24970,
 16780,
 400,
 8600,
 164249,
 24986,
 524700,
 16800,
 49568,
 57760,
 278947,
 25000,
 2728360,
 425,
 430,
 115122,
 25015,
 440,
 41400,
 25020,
 25026,
 25034,
 8652,
 49613,
 460,
 66000,
 470,
 123350,
 16857,
 33245,
 480,
 287200,
 16867,
 16869,
 490,
 303600,
 25073,
 500,
 25081,
 8698,
 506,
 8700,
 509,
 510,
 98810,
 25088,
 515,
 221701,
 520,
 8716,
 57870,
 530,
 538,
 66075,
 8737,
 550,
 8750,
 560,
 8752,
 16948,
 570,
 516670,
 1000000,
 2703936,
 41538,
 580,
 164420,
 1237573,
 16970,
 590,
 25170,
 418388,
 598,
 600,
 25177,
 90720,
 609,
 25186,
 82530,
 8800,
 17000,
 17002,
 82540,
 230000,
 627,
 33396,
 17015,
 25210,
 14213755,
 638,
 640,
 648,
 221833,
 650,
 49810,
 66195,
 660,
 8854,
 271000,
 3343000,
 49820,
 17053,
 8860,
 33439,
 670,
 49823,
 669,
 8863,
 172713,
 17066,
 8880,
 25265,
 690,
 692,
 99000,
 700,
 17090,
 8900,
 8905,
 17098,
 17100,
 41678,
 41680,
 720,
 74451,
 723,
 8920,
 729,
 730,
 33500,
 443100,
 140000,
 740,
 8932,
 8938,
 750,
 17139,
 17141,
 8950,
 767,
 49920,
 697090,
 287491,
 74500,
 770,
 780,
 82702,
 785,
 8980,
 789,
 792,
 25369,
 164636,
 8990,
 800,
 1434400,
 17189,
 25382,
 9000,
 810,
 9003,
 17199,
 17200,
 33586,
 820,
 9015,
 25400,
 17210,
 49982,
 830,
 832,
 197440,
 107334,
 17227,
 843,
 9039,
 50000,
 9040,
 850,
 82771,
 33619,
 25429,
 853,
 857,
 1295200,
 25440,
 9066,
 875,
 17260,
 164729,
 890,
 3801980,
 893,
 898,
 900,
 615300,
 41864,
 17289,
 9100,
 908,
 123790,
 74636,
 910,
 17300,
 917,
 922,
 25500,
 930,
 107427,
 935,
 345000,
 939,
 943,
 353200,
 950,
 4522935,
 17340,
 213948,
 33724,
 9151,
 697285,
 965,
 9160,
 91081,
 970,
 181198,
 974,
 17360,
 980,
 394199,
 2155482,
 9180,
 17374,
 990,
 74720,
 25571,
 17380,
 9190,
 91111,
 1000,
 17386,
 33771,
 1003,
 1006,
 9200,
 9201,
 1009,
 66547,
 17395,
 41973,
 1010,
 9210,
 1020,
 25600,
 1164300,
 41999,
 1040,
 1885200,
 50198,
 74776,
 1050,
 17440,
 1060,
 1069,
 1070,
 25650,
 9270,
 1080,
 1926200,
 1082,
 1090,
 9287,
 9288,
 58440,
 1100,
 312397,
 173139,
 1110,
 25690,
 328800,
 1120,
 9314,
 17510,
 2024551,
 91240,
 9320,
 1130,
 148588,
 9330,
 42100,
 1140,
 50300,
 1150,
 2000000,
 9349,
 165000,
 1160,
 1165,
 1170,
 9366,
 1180,
 58527,
 1184,
 58530,
 9380,
 1189,
 42150,
 1190,
 181419,
 1200,
 107700,
 25780,
 246968,
 42170,
 263356,
 1220,
 50373,
 9414,
 17612,
 1230,
 34000,
 1235,
 1236,
 1240,
 34011,
 58590,
 9440,
 1249,
 1250,
 25834,
 140523,
 1260,
 107756,
 34030,
 1263,
 1270,
 9463,
 58620,
 1277,
 66814,
 83196,
 58625,
 1281,
 1284,
 1008900,
 25862,
 9480,
 1290,
 9485,
 25870,
 75024,
 17681,
 9490,
 50450,
 1300,
 206100,
 17687,
 107800,
 1305,
 9500,
 17696,
 25890,
 1320,
 17710,
 140590,
 17712,
 9521,
 1340,
 1342,
 17727,
 1345,
 1350,
 157000,
 386377,
 58700,
 17741,
 1360,
 9560,
 1000792,
 2737498,
 1370,
 9570,
 25959,
 214381,
 1390,
 34160,
 1395,
 3171700,
 9590,
 1400,
 9598,
 9600,
 664960,
 34183,
 17800,
 1423,
 1426,
 239000,
 271769,
 34200,
 17817,
 1779100,
 3540377,
 9630,
 1436,
 1440,
 1435,
 1439,
 1449,
 91562,
 34219,
 58800,
 1460,
 42430,
 1471,
 1470,
 26049,
 1476,
 9670,
 1480,
 1486,
 198096,
 9680,
 1490,
 34257,
 189910,
 206296,
 1500,
 9692,
 1505,
 173540,
 1509,
 288230,
 525799,
 165351,
 1443300,
 17900,
 1520,
 148980,
 1530,
 11200000,
 99843,
 1540,
 902660,
 67078,
 17926,
 17929,
 17930,
 132619,
 1279500,
 9738,
 1550,
 1552,
 58900,
 1557,
 9750,
 17940,
 1560,
 321047,
 75290,
 1566,
 222752,
 1570,
 9762,
 1573,
 34347,
 1580,
 42541,
 9772,
 83500,
 26160,
 190000,
 17970,
 1590,
 9790,
 99903,
 1600,
 17982,
 1602,
 83526,
 9800,
 214600,
 17993,
 9805,
 18000,
 1620,
 26200,
 91738,
 1459802,
 9820,
 1630,
 34400,
 75360,
 9826,
 26210,
 9830,
 1640,
 1649,
 1650,
 18034,
 67190,
 26231,
 59000,
 9848,
 67200,
 1675,
 83598,
 1680,
 1684,
 1685,
 9880,
 1690,
 1692,
 91807,
 100000,
 1700,
 18087,
 9900,
 9910,
 1720,
 1722,
 18110,
 9919,
 9930,
 1740,
 9933,
 444110,
 9935,
 26323,
 9940,
 1750,
 26327,
 42710,
 9949,
 706270,
 1762,
 632550,
 42740,
 1780,
 42743,
 1783,
 1312508,
 91900,
 59133,
 780030,
 1795,
 1800,
 206600,
 9994,
 9996,
 83726,
 10000,
 337681,
 26389,
 1814,
 223000,
 18200,
 10010,
 26395,
 247579,
 10013,
 10020,
 124710,
 10024,
 1834,
 10027,
 10030,
 1840,
 50993,
 26423,
 1850,
 1851,
 34623,
 1856,
 1857,
 1860,
 1870,
 59220,
 1880,
 10074,
 18271,
 18280,
 1900,
 67438,
 141168,
 26480,
 10100,
 18300,
 1920,
 10118,
 34700,
 42906,
 51100,
 214940,
 1950,
 26530,
 18339,
 1956,
 1959,
 108456,
 526250,
 1963,
 141240,
 83901,
 1427390,
 600000,
 92100,
 1989,
 165830,
 34759,
 157640,
 1990,
 116680,
 305100,
 2000,
 2001,
 92120,
 10200,
 2010,
 10210,
 2020,
 10213,
 26600,
 133100,
 59373,
 2030,
 116720,
 34800,
 2034,
 2039,
 2040,
 42999,
 272376,
 10240,
 67585,
 2050,
 2052,
 34821,
 124938,
 18443,
 403468,
 2060,
 34834,
 2067,
 2070,
 10264,
 2072,
 84000,
 2085,
 10279,
 10282,
 2090,
 2100,
 313400,
 10300,
 12200000,
 51265,
 165960,
 2120,
 92244,
 67670,
 59479,
 2136,
 2137,
 2140,
 1378400,
 15100000,
 2146,
 2150,
 2160,
 75890,
 2166,
 174201,
 26747,
 92291,
 2180,
 2189,
 2191,
 2198,
 2200,
 133277,
 305310,
 18589,
 420000,
 10400,
 51362,
 67748,
 18600,
 59572,
 26804,
 51382,
 2231,
 35000,
 125114,
 26811,
 18623,
 2705600,
 43200,
 26818,
 23800000,
 26817,
 2240,
 2244,
 2250,
 567500,
 84180,
 18648,
 174300,
 10460,
 2270,
 26848,
 59621,
 2280,
 2282,
 76010,
 2289,
 2290,
 2292,
 10490,
 2300,
 26880,
 10500,
 2310,
 35081,
 272650,
 2320,
 436500,
 108821,
 35100,
 100640,
 264480,
 18730,
 2350,
 3230000,
 2353,
 2356,
 92470,
 18743,
 2358,
 67901,
 174400,
 10565,
 26950,
 10568,
 10573,
 35155,
 51540,
 2390,
 305500,
 2397,
 2400,
 43360,
 26982,
 117100,
 18797,
 26990,
 26991,
 18800,
 10610,
 2420,
 10614,
 27000,
 2430,
 118000000,
 240000,
 27010,
 10626,
 76160,
 2437,
 43400,
 18828,
 2446,
 2447,
 2450,
 18835,
 3844500,
 182683,
 2463,
 2470,
 27047,
 18860,
 18864,
 2490,
 1206716,
 2496,
 2500,
 10692,
 2503,
 10698,
 10700,
 2509,
 2510,
 133594,
 27100,
 2527,
 2530,
 903651,
 18915,
 2535,
 10730,
 150000,
 2545,
 2546,
 2550,
 18938,
 18941,
 999999999,
 2560,
 10753,
 10760,
 2570,
 141838,
 18964,
 2580,
 27158,
 43543,
 191000,
 59930,
 10780,
 2590,
 2591,
 4500000,
 2592,
 43552,
 141860,
 10790,
 2600,
 2603,
 117300,
 404023,
 19000,
 1043000,
 199226,
 92734,
 19006,
 35398,
 10827,
 338510,
 2640,
 117330,
 19030,
 1075800,
 51800,
 363100,
 68190,
 60000,
 2662,
 10855,
 10857,
 35437,
 2670,
 43633,
 84600,
 2680,
 27261,
 2689,
 84611,
 2700,
 43663,
 27281,
 10900,
 2710,
 2720,
 10912,
 19113,
 2730,
 2732,
 2740,
 19125,
 2742,
 150200,
 223931,
 2750,
 363200,
 19141,
 2760,
 27340,
 2770,
 150228,
 19157,
 2785,
 10980,
 19173,
 379622,
 10983,
 2790,
 35562,
 2800,
 822000,
 84720,
 ...}

In [571]:
df[df['Q37_3_1'] == -1]

Empty DataFrame
Columns: [ID, company_ID, company_name, sector, subsector, size_2021, size_2020, sales, n_years, ntis_past, ntis_present, SQ2_1, SQ2_2, SQ2_3, SQ3_1, SQ3_2, SQ3_3, SQ3_4, Q1_01_1, Q1_01_2, Q1_01_3, Q1_01_4, Q1_01_5, Q1_01_6, Q1_01_7, Q1_01_8, Q1_01_9, Q1_01_10, Q1_02_1, Q1_02_2, Q1_02_3, Q1_02_4, Q1_02_5, Q1_02_6, Q1_02_7, Q1_02_8, Q2_1, Q2_2, Q2_3, Q2_4, Q2_5, Q2_6, Q2_7, Q2_8, Q3_1_1, Q3_1_2, Q3_1_3, Q3_2_1, Q3_2_2, Q3_2_3, Q3_3_1, Q3_3_2, Q3_3_3, Q3_4_1, Q3_4_2, Q3_4_3, Q3_5_1, Q3_5_2, Q3_5_3, Q4_1_1, Q4_1_2, Q4_1_3, Q4_1_4, Q4_2_1, Q4_2_2, Q4_2_3, Q4_2_4, Q5_1, Q5_2, Q6_1, Q6_2, Q7_1, Q7_2, Q7_3, Q8_1, Q8_2, Q8_3, Q8_4, Q9_1, Q9_2, Q9_3, Q9_4, Q9_5, Q9_6, Q10_1, Q10_2, Q10_3, Q10_4, Q11_1, Q11_2, Q11_3, Q11_4, Q11_04_01, Q11_5, Q11_6, Q12_01_1, Q12_02_1, Q12_02_2, Q12_02_3, Q12_02_4, ...]
Index: []

[0 rows x 363 columns]

In [585]:
revenue = list(set(df['Q37_3_1'].values))
revenue.sort()
median = np.median(revenue)

In [572]:
set(df['ntis_past'])

{-1.0, 0.0, 1.0}

In [573]:
set(df['ntis_present'])

{-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0}

In [586]:
emp_small = df[(df["Q37_3_1"]<=median)].index
emp_big = df[(df["Q37_3_1"]>median)].index
df['rev_small'] = ''
df['rev_big'] = ''
for i in range(0,3999,1):
    if i in emp_small:
        df['rev_small'][i] = 1
    else:
        df['rev_small'][i] = 0
    if i in emp_big:
        df['rev_big'][i] = 1
    else:
        df['rev_big'][i] = 0

C:\Users\YUNSEO~1\AppData\Local\Temp/ipykernel_4884/2645631914.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rev_small'][i] = 1
C:\Users\YUNSEO~1\AppData\Local\Temp/ipykernel_4884/2645631914.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rev_big'][i] = 0
C:\Users\YUNSEO~1\AppData\Local\Temp/ipykernel_4884/2645631914.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rev_small'][i] = 0
C:\Users\YUNSEO~1\AppData\Local\Temp/ipykernel_4884/2645631914.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rev_big'][i] = 1

#### 기초 통계량: 법정유형

In [589]:
#평균값
print(np.mean(df['rev_small'].values), np.mean(df['rev_big'].values))

0.641410352588147 0.35858964741185295

In [590]:
print(np.std(df['rev_small'].values), np.std(df['rev_big'].values))

0.47958639699317845 0.47958639699317845

#### 종합 혁신 활동 비율 분석 (과거시점)

In [591]:
set(df['ntis_past'].values)

{-1.0, 0.0, 1.0}

In [592]:
past_non = df[df['ntis_past'] < 1].shape[0]
past_part = df[df['ntis_past'] > 0].shape[0]
print(past_non, past_part)

3776 223

In [593]:
participate = df[(df['rev_small']==1) & (df_filtered['ntis_past'] > 0)].shape[0]
nonparticipate = df[(df['rev_small']==1) & (df_filtered['ntis_past'] < 1)].shape[0]
print(round((nonparticipate/past_non)*100,1), round((participate/past_part)*100,1))

12.1 30.9

In [594]:
participate = df[(df['rev_big']==1) & (df_filtered['ntis_past'] > 0)].shape[0]
nonparticipate = df[(df['rev_big']==1) & (df_filtered['ntis_past'] < 1)].shape[0]
print(round((nonparticipate/past_non)*100,1), round((participate/past_part)*100,1))

12.2 35.0

#### 종합 혁신 활동 비율 분석 (현재시점)

In [595]:
set(df['ntis_present'].values)

{-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0}

In [596]:
present_non = df[df['ntis_present'] < 1].shape[0]
present_part = df[df['ntis_present'] > 0].shape[0]
print(present_non, present_part)

3699 300

In [597]:
participate = df[(df['rev_small']==1) & (df_filtered['ntis_present'] > 0)].shape[0]
nonparticipate = df[(df['rev_small']==1) & (df_filtered['ntis_present'] < 1)].shape[0]
print(round((nonparticipate/present_non)*100,1), round((participate/present_part)*100,1))

11.6 31.7

In [598]:
participate = df[(df['rev_big']==1) & (df_filtered['ntis_present'] > 0)].shape[0]
nonparticipate = df[(df['rev_big']==1) & (df_filtered['ntis_present'] < 1)].shape[0]
print(round((nonparticipate/present_non)*100,1), round((participate/present_part)*100,1))

12.1 31.3